html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    color: $default;
    @extend %montserrat-400;
    font-size: 13px;
    line-height: 20px;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    @extend %montserrat-400;
    font-size: 36px;
    line-height: 42px;
    color: $title;
}

.subtile {
    display: inline-block;
    font-size: 13px;
    line-height: 20px;
    color: $accent;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/* SLIDER */

.slick-dots {
    display: flex;
    align-items: center;
    margin-top: 140px;
    & button{
        padding: 0;
        border: none;
        font-size: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $sub-accent;
    }
    & li + li {
        margin-left: 5px;
    }
}

.slick-active button {
    background-color: #fc6100;
    width: 30px;
    height: 10px;
    border-radius: 5px;
    transition: all .3s ease 0s;
}

/* ARROW */

.arrow-up {
    width: 50px;
    height: 50px;
    background-color: $accent;
    border-radius: 5px;
    position: fixed;
    z-index: 1;
    bottom: -100px;
    right: 10px;
    background-image: url(../images/icons/up-arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    transition: 0.5s linear;
    &.arrow-up--active {
        bottom: 20px;
        transition: 0.5s linear;
    }
    &--active:hover {
        background-color: #FF8E47;
    }
}

.page__wrapper {
    display: grid;
    grid-template-columns: 1fr 350px;
    column-gap: 50px;
}

/* PAGINATION */

.pagination {
    display: flex;
    &__list {
        display: flex;
    }
    &__arrows {
        color: $title;
        position: relative;
        text-transform: uppercase;
        border: 1px solid #ededed;
        border-radius: 2px;
        transition: all .3s;
        &:hover {
            border: 1px solid #fc6100;
        }
        &-next {
            padding: 10px 20px 10px 40px;
            &::after {
                content: url(../images/icons/ar-left.svg);
                position: absolute;
                top: 12px;
                left: 12px;
            }
        }
        &-prew {
            padding: 10px 40px 10px 20px;
            margin-left: 5px;
            &::before {
                content: url(../images/icons/ar-right.svg);
                position: absolute;
                top: 12px;
                right: 12px; 
            }
        }
    }
    &__item {
        color: $title;
        border: 1px solid #ededed;
        border-radius: 2px;
        margin-left: 5px;
        padding: 10px 20px;
        transition: all .3s;
        cursor: pointer;
        &:hover {
            border: 1px solid #fc6100;
        }
    }
}

.pagination__link--active {
    color: $accent;
}


