html,
body {
    height: 100%;
}


body {
    display: flex;
    flex-direction: column;
    color: $default;
    @extend %montserrat-400;
    font-size: 13px;
    line-height: 20px;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    @extend %montserrat-400;
    font-size: 36px;
    line-height: 42px;
    color: $title;
}

.subtile {
    display: inline-block;
    font-size: 13px;
    line-height: 20px;
    color: $accent;
    text-transform: uppercase;
    margin-bottom: 10px;
}


/* SLIDER */

.slick-dots {
    display: flex;
    align-items: center;
    margin-top: 140px;
}

.slick-dots button{
    padding: 0;
    border: none;
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $sub-accent;
}

.slick-dots li + li {
    margin-left: 5px;
}

.slick-active button {
    background-color: #fc6100;
    width: 30px;
    height: 10px;
    border-radius: 5px;
}