@import 'vars'; /* Цвет */
@import 'fonts'; /* Шрифты */
@import 'reset'; /* Сброс */
@import 'libs'; /* Файлы*/
@import 'global'; /* Глобальные стили */


.header {
    background-color: #0A1126;
    &-bg {    
        background-image: url(../images/header-bg1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 60px;
        min-height: 800px;
    }
    &__top {
        display: flex;
        align-items: center;
        padding: 20px 0;
        &-list {
            display: flex;
        }
        &-link {
            color: $sub-accent;
        }
        &-item {
            margin-left: 35px;
            position: relative;
        }
        &-item + .header__top-item {
            margin-left: 100px;
        }
    }
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        &-support {
            display: flex;
            align-items: center;
            margin-left: 50px;
            &-box {
                margin-left: 10px;
            }
        }
        &-teh {
            color: $sub-accent;
            margin-bottom: 5px;
        }
        &-tel {
            @extend %montserrat-600;
            font-size: 17px;
            color: #ffffff;
        }
    }
    &__menu {
        position: relative;
        display: flex;
        justify-content: space-between;
        background: rgba(255,255,255,0.15);
        border-radius: 5px;
        padding: 20px 0;
    }
    &__content {
        margin: 150px 0 20px;
        text-align: center;
        &-desc {
            @extend %montserrat-600;
            text-transform: uppercase;
            color: $accent;
            margin-bottom: 20px;
        }
        &-title {
            @extend %montserrat-700;
            font-size: 40px;
            line-height: 46px;
            color: #ffffff;
            margin-bottom: 50px;
        }
        &-link {
            position: relative;
            border: 2px solid $accent;
            padding: 10px 45px 10px 30px;
            color: #ffffff;
            border-radius: 5px;
            &:hover {
                background-color: $accent;
                transition: all 0.3s;
            }
            &::after {
                content: url(../images/icons/arrow-white-btn.svg);
                position: absolute;
                top: 10px;
                right: 20px;
            }
        }
    }
    &__support::before {
        content: url(../images/icons/support.svg);
        position: absolute;
        top: 0;
        left: -35px;
    }
    &__mail::before {
        content: url(../images/icons/email.svg);
        position: absolute;
        top: 3px;
        left: -35px;
    }
    &__local::before {
        content: url(../images/icons/map.svg);
        position: absolute;
        top: 2px;
        left: -35px;
    }
}

.menu {
    &__list {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
    &-btn {
        position: relative;
        background-color: $accent;
        display: inline-block;
        height: 60px;
        border-radius: 0 5px 5px 0;
        line-height: 60px;
        padding: 0 30px 0 60px;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        &::before {
            position: absolute;
            content: url(../images/icons/arrow-left.svg);
            top: 3px;
            left: 25px;
        }
    }
    &__item {
        margin-left: 25px;
    }
    &__link {
        color: #ffffff;
        text-transform: uppercase;
        transition: all 0.3s;
        @extend %montserrat-600;
        &:hover {
            color: $accent; 
        }
    }
}

.logo {
    flex-grow: 1;
}

.social__item + .social__item {
    margin-left: 5px;
}

.social__list {
    display: flex;
}

.social__link {
    display: inline-block;
    background: rgba(255,255,255,0.15);
    padding: 10px;
    border-radius: 50%;
    transition: all 0.3s;
    &:hover {
        background: $accent;
    }
}


/* EXPIRIENS */

.expiriens {
    padding: 100px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__img {
        position: relative;
        &-box {
            margin-left: 50px;
        }
    }
    &__info {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: $title;
        width: 170px;
        height: 195px;
        border-radius: 5px;
        margin-bottom: 10px;
        left: 0;
        bottom: 60px;
        &-year {
            text-transform: uppercase;
            color: $accent;
            font-size: 60px;
            line-height: 60px;
        }
        &-desc {
            max-width: 94px;
            font-size: 13px;
            line-height: 20px;
            color: $sub-accent;
        }
    }
    &__content {
        max-width: 630px;git
        &-title {
            margin-bottom: 43px;
        }
        &-text {
            margin-bottom: 43px;
        }
        &-list {
            column-count: 2;
            margin: 0 0 23px 28px;
        }
        &-item{
            position: relative;
            color: $title;
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 30px;
        }
        &-item::before {
            content: url(../images/icons/ok.svg);
            position: absolute;
            top: 0;
            left: -20px;
         }
        &-btn {
            position: relative;
            background-color: $accent;
            padding: 15px 48px 15px 30px;
            border-radius: 5px;
            font-size: 13px;
            line-height: 47px;
            color: #FFFFFF;
            &::before{
                content: url(../images/icons/arrow-white-btn.svg);
                position: absolute;
                top: 2px;
                right: 20px;
            }
            &:hover {
                background-color: $title;
                transition: all .3s;
            }
        }
    }
}

/* BENEFITS */

.benefits {
    background: url(../images/dark-bg.jpg) top center fixed;
    background-size: cover;
    max-height: 376px;
    padding: 100px 0;
    &__inner {
        display: flex;
        justify-content: space-around;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 176px;
        padding-right: 60px;
        border-right: 1px solid rgba(255, 255, 255, 0.3);
    }
    &__item:last-child {
        border-right: none;

    }
    &__numb {
        color: $accent;
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 30px;
    }
    &__desc {
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
    }
}

/* PROGECT */

.progect {
    &__top {
        padding: 100px 0;
        text-align: center;
    }
}








/* FOOTER */

.footer {
    background-color: $title;
    color: #ffffff;
    &__top {
        display: flex;
        justify-content: space-between;
        padding: 100px 0;
        border-bottom: 1px solid rgba(255,255,255,0.05);;
        &-box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    &__item {
        margin-top: 10px;
        color: $sub-accent;
    }
    &__item:hover {
        color: #ffffff;
        cursor: pointer;
    }
    &__social-item {
        margin-left: 10px;
    }
    &__social-item:first-child {
        margin-left: 0;
    }
    &__items {
        position: relative;
        margin: 0 0 10px 35px;
        &-link {
            color: #ffffff;
        }
    }
    &__items:last-child {
        margin-bottom: 0;
    }
    &__bottom {
        padding: 20px 0;
    }
    &__list-text {
        @extend %montserrat-600;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    &__social-list {
        display: flex;
    }
    &__local::before {
        content: url(../images/icons/map.svg);
        position: absolute;
        top: 0;
        left: -35px;
    }
    &__tel::before {
        content: url(../images/icons/phone.svg);
        position: absolute;
        top: 3px;
        left: -35px;
    }
    &__email::before {
        content: url(../images/icons/at.svg);
        position: absolute;
        top: 2px;
        left: -35px;
    }
}

.github__link {
    color: coral;
}


@import 'media'; /* медиа-запросы */