@import 'vars'; /* Цвет */
@import 'fonts'; /* Шрифты */
@import 'reset'; /* Сброс */
@import 'libs'; /* Файлы*/
@import 'global'; /* Глобальные стили */


/* HEADER */

.header {
    background-color: #0A1126;
    &-bg {    
        background-image: url(../images/header-bg1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 60px;
        min-height: 800px;
    }
    &__top {
        display: flex;
        align-items: center;
        padding: 20px 0;
        &-list {
            display: flex;
        }
        &-link {
            color: $sub-accent;
        }
        &-item {
            margin-left: 35px;
            position: relative;
        }
        &-item + .header__top-item {
            margin-left: 100px;
        }
    }
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        &-support {
            display: flex;
            align-items: center;
            margin-left: 50px;
            &-box {
                margin-left: 10px;
            }
        }
        &-teh {
            color: $sub-accent;
            margin-bottom: 5px;
        }
        &-tel {
            @extend %montserrat-600;
            font-size: 17px;
            color: #ffffff;
        }
    }
    &__menu {
        position: relative;
        display: flex;
        justify-content: space-between;
        background: rgba(255,255,255,0.15);
        border-radius: 5px;
        padding: 20px 0;
    }
    &__content {
        margin: 150px 0 20px;
        text-align: center;
        &-desc {
            @extend %montserrat-600;
            text-transform: uppercase;
            color: $accent;
            margin-bottom: 20px;
        }
        &-title {
            @extend %montserrat-700;
            font-size: 40px;
            line-height: 46px;
            color: #ffffff;
            margin-bottom: 50px;
        }
        &-link {
            position: relative;
            border: 2px solid $accent;
            padding: 10px 45px 10px 30px;
            color: #ffffff;
            border-radius: 5px;
            &:hover {
                background-color: $accent;
                transition: all 0.3s;
            }
            &::after {
                content: url(../images/icons/arrow-white-btn.svg);
                position: absolute;
                top: 10px;
                right: 20px;
            }
        }
    }
    &__support::before {
        content: url(../images/icons/support.svg);
        position: absolute;
        top: 0;
        left: -35px;
    }
    &__mail::before {
        content: url(../images/icons/email.svg);
        position: absolute;
        top: 3px;
        left: -35px;
    }
    &__local::before {
        content: url(../images/icons/map.svg);
        position: absolute;
        top: 2px;
        left: -35px;
    }
}

.menu {
    &__list {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
    &-btn {
        position: relative;
        background-color: $accent;
        display: inline-block;
        height: 60px;
        border-radius: 0 5px 5px 0;
        line-height: 60px;
        padding: 0 30px 0 60px;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        &::before {
            position: absolute;
            content: url(../images/icons/arrow-left.svg);
            top: 3px;
            left: 25px;
        }
    }
    &__item {
        margin-left: 25px;
    }
    &__link {
        color: #ffffff;
        text-transform: uppercase;
        transition: all 0.3s;
        @extend %montserrat-600;
        &:hover {
            color: $accent; 
        }
    }
}

.menu__fixed--hidden {
    background-color: $title;
    padding: 10px 0;
    display: none;
}

.menu__fixed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    &-list {
        display: flex;
        align-items: center;
    }
    &-item {
        margin-left: 25px;
    }
    &-link {
        color: #ffffff;
        text-transform: uppercase;
        transition: all 0.3s;
        @extend %montserrat-600;
        &:hover {
            color: $accent; 
        }
    }
    &-btn {
        background-color: $accent;
        display: inline-block;
        color: #FFFFFF;
        border-radius: 5px;
        height: 40px;
        line-height: 40px;
        padding: 0 15px;
    }
}

.logo {
    flex-grow: 1;
}

.social {
    &__item + .social__item {
        margin-left: 5px;
    }
    &__list {
        display: flex;
    }
    &__link {
        display: inline-block;
        background: rgba(255,255,255,0.15);
        padding: 10px;
        border-radius: 50%;
        transition: all 0.3s;
        &:hover {
            background: $accent;
        }
    }
}

/* EXPIRIENS */

.expiriens {
    padding: 100px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__img {
        position: relative;
        &-box {
            margin-left: 50px;
        }
    }
    &__info {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: $title;
        width: 170px;
        height: 195px;
        border-radius: 5px;
        margin-bottom: 10px;
        left: 0;
        bottom: 60px;
        &-year {
            text-transform: uppercase;
            color: $accent;
            font-size: 60px;
            line-height: 60px;
        }
        &-desc {
            max-width: 94px;
            font-size: 13px;
            line-height: 20px;
            color: $sub-accent;
        }
    }
    &__content {
        max-width: 630px;git
        &-title {
            margin-bottom: 43px;
        }
        &-text {
            margin-bottom: 43px;
        }
        &-list {
            column-count: 2;
            margin: 0 0 23px 28px;
        }
        &-item{
            position: relative;
            color: $title;
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 30px;
        }
        &-item::before {
            content: url(../images/icons/ok.svg);
            position: absolute;
            top: 0;
            left: -20px;
         }
        &-btn {
            position: relative;
            background-color: $accent;
            padding: 15px 48px 15px 30px;
            border-radius: 5px;
            font-size: 13px;
            line-height: 47px;
            color: #FFFFFF;
            &::before{
                content: url(../images/icons/arrow-white-btn.svg);
                position: absolute;
                top: 2px;
                right: 20px;
            }
            &:hover {
                background-color: $title;
                transition: all .3s;
            }
        }
    }
}

/* BENEFITS */

.benefits {
    background: url(../images/dark-bg.jpg) top center fixed;
    background-size: cover;
    max-height: 376px;
    padding: 100px 0;
    &__inner {
        display: flex;
        justify-content: space-around;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 176px;
        padding-right: 60px;
        border-right: 1px solid rgba(255, 255, 255, 0.3);
    }
    &__item:last-child {
        border-right: none;

    }
    &__numb {
        color: $accent;
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 30px;
    }
    &__desc {
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
    }
}

/* PROGECT */

.progect {
    padding: 100px 0;
    &__top {
        margin-bottom: 41px;
        text-align: center;
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
    }
    &__item {
        border-radius: 5px;
        grid-column-start: span 2;
        grid-row-start: span 2;
        box-shadow: 0 0 20px rgba(0,0,0,0.5);
    }
    &__img {
        border-radius: 5px 5px 0 0;
    }
    &__text {
        color: $default;
        margin: 0 0 15px 30px;
    }
    &__title {
        font-size: 15px;
        line-height: 20px;
        color: $title;
        flex-grow: 1;
        margin: 25px 30px 15px 30px;
    }
    &__items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 5px;
        box-shadow: 0 0 20px rgba(0,0,0,0.5);
        &-box {
            position: relative;
        }
    }
    &__data {
        position: absolute;
        bottom: 0;
        left: 30px;
        background: $accent;
        padding: 0 20px;
        border-radius: 5px 5px 0px 0px;
        font-size: 12px;
        line-height: 36px;
        color: #ffffff;
    }
    &__link {
        color: $accent;
        position: relative;
        margin: 0 30px 20px;
        &::after {
            content: url(../images/icons/arrow-orange.svg);
            position: absolute;
            top: 2px;
            left: 73px;
        }
    }
    &__bottom-link {
        @extend %btn-orange;
        &-box {
            margin-top: 50px;
            text-align: center;
        }
    }
}

/* REVIEWS */

.reviews {
    background: url(../images/dark-bg.jpg) top center fixed;
    background-size: cover;
    padding: 100px 0;
    &__slider {
        text-align: center;
    }
    &__top-title {
        margin-bottom: 44px;
        color: #FFFFFF;
    }
    &__text {
        max-width: 700px;
        text-align: center;
        margin: 0 auto 30px;
        font-size: 21px;
        line-height: 32px;
        color: $sub-accent;
    }
    &__user {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-img {
            border-radius: 50%;
            margin-bottom: 10px;
        }
        &-name {
            font-size: 15px;
            color: $accent;
        }
        &-job {
            color: $default;
        }
    }
}

.slick-prev,
.slick-next {
    position: absolute;
    border: none;
    background-color: transparent;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

/* BLOG */

.blog {
    padding: 100px 0;
    &__top {
        margin-bottom: 41px;
        text-align: center;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__items {
        max-width: 370px;
    }
    &__data {
        position: absolute;
        top: 0;
        left: 30px;
        background: $accent;
        padding: 0 20px;
        border-radius: 0px 0px 5px 5px;
        font-size: 12px;
        line-height: 36px;
        color: #ffffff;
    }
}

/* FOOTER */

.footer {
    background-color: $title;
    color: #ffffff;
    &__top {
        display: flex;
        justify-content: space-between;
        padding: 100px 0;
        border-bottom: 1px solid rgba(255,255,255,0.05);;
        &-box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    &__item {
        margin-top: 10px;
        color: $sub-accent;
    }
    &__item:hover {
        color: #ffffff;
        cursor: pointer;
    }
    &__social-item {
        margin-left: 10px;
    }
    &__social-item:first-child {
        margin-left: 0;
    }
    &__items {
        position: relative;
        margin: 0 0 10px 35px;
        &-link {
            color: #ffffff;
        }
    }
    &__items:last-child {
        margin-bottom: 0;
    }
    &__bottom {
        padding: 20px 0;
    }
    &__list-text {
        @extend %montserrat-600;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    &__social-list {
        display: flex;
    }
    &__local::before {
        content: url(../images/icons/map.svg);
        position: absolute;
        top: 0;
        left: -35px;
    }
    &__tel::before {
        content: url(../images/icons/phone.svg);
        position: absolute;
        top: 3px;
        left: -35px;
    }
    &__email::before {
        content: url(../images/icons/at.svg);
        position: absolute;
        top: 2px;
        left: -35px;
    }
}

.github__link {
    color: coral;
}

/* PAGE */
/* ABOUT */

.header__page-bg {    
    background-image: url(../images/header-page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 253px;
}

.breadcrumbs {
    background-color: $accent;
    padding: 10px 0;
    &__list {
        display: flex;
        list-style-type: none;
    }
    &__item {
        color: #ffffff;
        padding-right: 40px;
        position: relative;
        &::after {
            content: url(../images/icons/arrow-white-btn.svg);
            position: absolute;
            top: 2px;
            right: 13px;
        }
        &:last-child {
            color: $title;
            padding-right: 0;
            &::after {
                display: none;
            }
        }
    }
    &__link {
        font-size: 11px;
        line-height: 20px;
        color: inherit;
    }
}

.services {
    padding: 100px 0;
    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 43px 33px;
        &-title {
            font-size: 15px;
            line-height: 20px;
            color: $title;
            margin-bottom: 23px;
            text-transform: uppercase;
        }
        &-text {
            color: $default;
            max-width: 292px;
            margin-left: 75px;
        }
        &-img {
            padding-top: 5px;
            display: inline;
            position: absolute;
        }
    }
    &__title {
        margin-bottom: 40px;
    }
    &__bottom-link {
        @extend %btn-orange;
        &-box {
            margin-top: 50px;
            text-align: center;
        }
    }
    &__subtitle,
    &__title {
        text-align: center;
        display: block;
    }
}

/* PAGE */
/* FAQ */

.question {
    padding: 100px 0;
    &__main-title {
        margin-bottom: 40px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 350px;
        column-gap: 50px;
    }
    &__item {
        margin-bottom: 20px;
    }
    &__title {
        padding: 15px 25px;
        background-color: #F8F8F8;
        font-size: 15px;
        line-height: 20px;
        color: $title;
        transition: all .3s ease;
        cursor: pointer;
        &:hover {
            color: #FFFFFF;
            background-color: $accent;
        } 
        &.active {
            color: #ffffff;
            background-color: $title;
        }
    }
    &__text {
        display: none;
        background-color: #FFFFFF;
        font-size: 13px;
        line-height: 20px;
        color: $default;
        border: 1px solid $title;
        border-top: none;
        & p {
            padding: 10px 25px;
        }
    }
}

.sitebar {
    &__searche,
    &__category,
    &__news {
        background-color: $title;
        width: 350px;
        min-height: 180px;
        margin-bottom: 40px;
        border-radius: 5px;
        padding: 40px 50px;
    }
    &__subtitle {
        font-size: 17px;
        color: #ffffff;
        margin-bottom: 30px;
    }
    &__news {
        margin-bottom: 0;
        &-subtitle {
            color: $sub-accent;
            margin-bottom: 13px;
            &:first-child {
                margin-top: 0;
            }
        }
        &-item {
            border-bottom: 1px solid $default;
            margin-bottom: 25px;
            &:last-child {
                border-bottom: none;
                margin-bottom: 0;
                padding-bottom: 0;
            }
            &:last-child .sitebar__news-time{
                padding-bottom: 0;
            }
        }
        &-time {
            position: relative;
            margin-left: 27px;
            padding-bottom: 30px;
            & time::before {
                position: absolute;
                content: url(../images/icons/clock.svg);
                top: 0;
                left: -27px;
            }
        }
    }
    &__form {
        position: relative;
        &-searche {
            border: none;
            background-color: rgba(255, 255, 255, 0.15);
            border-radius: 5px;
            width: 250px;
            height: 50px;
            padding: 0 70px 0 20px;
            color: #FFFFFF;
            outline: none;
            &::placeholder {
                color: #ededed;
            }
        }
        &-btn {
            background-color: $accent;
            border: none;
            width: 60px;
            height: 50px;
            border-radius: 5px;
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .3s;
            cursor: pointer;
            &:hover {
                background-color: #ededed;
                transition: all .3s;
            }
        }
    }
    &__category {
        &-item {
            margin-bottom: 20px;
        }
        &-link {
            color: $sub-accent;
        }
    }
}

/* PAGE */
/* BLOG */


.blog-page {
    padding: 100px 0;
    &__main-title {
        margin-bottom: 40px;
    }    
    &__item {
        box-shadow: 0 0 20px rgba(0,0,0,0.5);
        margin-bottom: 30px;
        border-radius: 5px;
        &-link {
            display: inline-block;
            color: $accent;
            position: relative;
            margin: 0 30px 30px 30px;
            &::after {
                content: url(../images/icons/arrow-orange.svg);
                position: absolute;
                top: 2px;
                left: 73px;
            }
        }
        &-img {
            margin-bottom: 30px;
        }
        &-subtitle {
            font-size: 15px;
            color: $title;
            margin: 0 50px 18px 30px;
        }
        &-text {
            font-size: 13px;
            color: $default;
            margin: 0 50px 18px 30px;
        }
        &-data {
            position: relative;
            & time{
                position: absolute;
                top: 0;
                left: 30px;
                background: $accent;
                padding: 0 20px;
                border-radius: 0px 0px 5px 5px;
                font-size: 12px;
                line-height: 36px;
                color: #ffffff;
            }
        }
    }
}












@import 'media'; /* медиа-запросы */